<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PayFlow</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <div class="auth-container">

        <div class="auth-card">

            <h2>Welcome Back</h2>

            <p class="subtitle">
                Login to your PayFlow account
            </p>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="message">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}

            <form method="POST">

                <div class="input-group">
                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        name="email"
                        placeholder="Enter Email"
                        required>
                </div>

                <div class="input-group">
                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        name="password"
                        placeholder="Enter Password"
                        required>
                </div>

                <button
                    type="submit"
                    class="auth-btn">

                    Login

                </button>

            </form>

            <div class="auth-links">

                <p>
                    Don't have an account?
                    <a href="/signup">
                        Sign Up
                    </a>
                </p>

                <p>
                    <a href="/">
                        Back to Home
                    </a>
                </p>

            </div>

        </div>

    </div>

</body>

</html>